.dom-inspector {
    position: fixed;
    pointer-events: none;
}

.dom-inspector>div {
	position: absolute;
}

.dom-inspector-theme-default {

}

.dom-inspector-theme-default .margin {
	background-color: rgba(255, 81, 81, 0.75);
}

.dom-inspector-theme-default .border {
	background-color: rgba(255, 241, 81, 0.75);
}

.dom-inspector-theme-default .padding {
	background-color: rgba(81, 255, 126, 0.75);
}

.dom-inspector-theme-default .content {
	background-color: rgba(81, 101, 255, 0.75);
}
