.dom-inspector {
    position: fixed;
    pointer-events: none;
}

.dom-inspector>div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.dom-inspector-theme-default {
	background-color: rgba(124, 230, 149, 0.5);
    border-color: #ffeebc;
}

.dom-inspector-theme-default .margin {
	background-color: red;
}

.dom-inspector-theme-default .border {
	background-color: green;
}

.dom-inspector-theme-default .padding {
	background-color: gray;
}

.dom-inspector-theme-default .content {
	background-color: black;
}
